# Extraction

In [21]:
import requests
import pandas as pd
#from pyspark.sql import SparkSession
import mysql.connector as msql
from mysql.connector import Error
# This file contains our login information for the MySQL server
import credentials as C

In [19]:
# store API url
url = 'https://raw.githubusercontent.com/platformps/LoanDataset/main/loan_data.json'

# assign the headers- not always necessary, but something we have to do with the GitHub API
headers = {'Accept': 'application/vnd.github.v3+json'}

# assign the requests method
r = requests.get(url, headers=headers)

# print a status update for the requests command
print(f"Status code: {r.status_code}")

# store API response to variable
api_results = r.json()
loan_data_df = pd.DataFrame(api_results)
print("Dataframe succefully created")

Status code: 200
Dataframe succefully created

In [25]:
loan_data_df.head()

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y

Lets see what the unique values are in each of the dataframe columns

In [28]:
for column in loan_data_df.columns:
    # skip the first column since that column is all unique
    if column == 'Application_ID':
        continue
    unique_values = loan_data_df[column].unique()
    print(f'Column: {column}')
    print(unique_values)
    print()

Column: Gender
['Male' 'Female']

Column: Married
['No' 'Yes']

Column: Dependents
['0' '1' '2' '3+']

Column: Education
['Graduate' 'Not Graduate']

Column: Self_Employed
['No' 'Yes']

Column: Credit_History
[1 0]

Column: Property_Area
['Urban' 'Rural' 'Semiurban']

Column: Income
['medium' 'low' 'high']

Column: Application_Status
['Y' 'N']

Let's connect to the database.

In [23]:
try:
    conn = msql.connect(host = C.host_name, database = 'creditcard_capstone',
                        user = C.user_name, password = C.password)
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
except Error as e:
    print('Error while connecting to MySQL',e)

You're connected to database:  ('creditcard_capstone',)

Let's create the sql query to create the table.

In [29]:
loan_table = (
"CREATE TABLE IF NOT EXISTS `cdw_sapp_loan_application` ("
"  `ID` CHAR(8) NOT NULL,"
"  `Gender` VARCHAR(6) NULL,"
"  `Married` VARCHAR(3) NULL,"
"  `Dependents` VARCHAR(2) NULL,"
"  `Education` VARCHAR(12) NULL,"
"  `Self_Employed` VARCHAR(3) NULL," 
"  `Credit_History` VARCHAR(1) NULL,"
"  `Property_Area` VARCHAR(10) NULL,"
"  `Income` VARCHAR(8) NULL,"
"  `Application_Status` VARCHAR(1) NULL,"
"  PRIMARY KEY (`ID`))"
"ENGINE = InnoDB  ")

In [30]:
try:
    if conn.is_connected():
        #lets add the loan into the db
        cursor.execute('DROP TABLE IF EXISTS cdw_sapp_loan_application;')
        print('Creating cdw_sapp_loan_application table....')
        cursor.execute(loan_table)
        print("cdw_sapp_branch table is created....")
        #loop through the data frame
        for i,row in loan_data_df.iterrows():
            #here %S represents each object in the row, one object per column
            sql = "INSERT INTO creditcard_capstone.cdw_sapp_loan_application\
                  VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print(f"{i+1} Loan Application Records inserted")
            # the connection is not auto committed by default so we must commit to save our changes
            conn.commit()
        print("Loan Application data fulled loaded")
except Error as e:
    print('Error while connecting to MySQL',e)

Creating cdw_sapp_loan_application table....
cdw_sapp_branch table is created....
1 Loan Application Records inserted
2 Loan Application Records inserted
3 Loan Application Records inserted
4 Loan Application Records inserted
5 Loan Application Records inserted
6 Loan Application Records inserted
7 Loan Application Records inserted
8 Loan Application Records inserted
9 Loan Application Records inserted
10 Loan Application Records inserted
11 Loan Application Records inserted
12 Loan Application Records inserted
13 Loan Application Records inserted
14 Loan Application Records inserted
15 Loan Application Records inserted
16 Loan Application Records inserted
17 Loan Application Records inserted
18 Loan Application Records inserted
19 Loan Application Records inserted
20 Loan Application Records inserted
21 Loan Application Records inserted
22 Loan Application Records inserted
23 Loan Application Records inserted
24 Loan Application Records inserted
25 Loan Application Records inserted
26 Loan Application Records inserted
27 Loan Application Records inserted
28 Loan Application Records inserted
29 Loan Application Records inserted
30 Loan Application Records inserted
31 Loan Application Records inserted
32 Loan Application Records inserted
33 Loan Application Records inserted
34 Loan Application Records inserted
35 Loan Application Records inserted
36 Loan Application Records inserted
37 Loan Application Records inserted
38 Loan Application Records inserted
39 Loan Application Records inserted
40 Loan Application Records inserted
41 Loan Application Records inserted
42 Loan Application Records inserted
43 Loan Application Records inserted
44 Loan Application Records inserted
45 Loan Application Records inserted
46 Loan Application Records inserted
47 Loan Application Records inserted
48 Loan Application Records inserted
49 Loan Application Records inserted
50 Loan Application Records inserted
51 Loan Application Records inserted
52 Loan Application Records inserted
53 Loan Application Records inserted
54 Loan Application Records inserted
55 Loan Application Records inserted
56 Loan Application Records inserted
57 Loan Application Records inserted
58 Loan Application Records inserted
59 Loan Application Records inserted
60 Loan Application Records inserted
61 Loan Application Records inserted
62 Loan Application Records inserted
63 Loan Application Records inserted
64 Loan Application Records inserted
65 Loan Application Records inserted
66 Loan Application Records inserted
67 Loan Application Records inserted
68 Loan Application Records inserted
69 Loan Application Records inserted
70 Loan Application Records inserted
71 Loan Application Records inserted
72 Loan Application Records inserted
73 Loan Application Records inserted
74 Loan Application Records inserted
75 Loan Application Records inserted
76 Loan Application Records inserted
77 Loan Application Records inserted
78 Loan Application Records inserted
79 Loan Application Records inserted
80 Loan Application Records inserted
81 Loan Application Records inserted
82 Loan Application Records inserted
83 Loan Application Records inserted
84 Loan Application Records inserted
85 Loan Application Records inserted
86 Loan Application Records inserted
87 Loan Application Records inserted
88 Loan Application Records inserted
89 Loan Application Records inserted
90 Loan Application Records inserted
91 Loan Application Records inserted
92 Loan Application Records inserted
93 Loan Application Records inserted
94 Loan Application Records inserted
95 Loan Application Records inserted
96 Loan Application Records inserted
97 Loan Application Records inserted
98 Loan Application Records inserted
99 Loan Application Records inserted
100 Loan Application Records inserted
101 Loan Application Records inserted
102 Loan Application Records inserted
103 Loan Application Records inserted
104 Loan Application Records inserted
105 Loan Application Records inserted
106 Loan Application Records inserted
107 Loan Application Records inserted
108 Loan Application Records inserted
109 Loan Application Records inserted
110 Loan Application Records inserted
111 Loan Application Records inserted
112 Loan Application Records inserted
113 Loan Application Records inserted
114 Loan Application Records inserted
115 Loan Application Records inserted
116 Loan Application Records inserted
117 Loan Application Records inserted
118 Loan Application Records inserted
119 Loan Application Records inserted
120 Loan Application Records inserted
121 Loan Application Records inserted
122 Loan Application Records inserted
123 Loan Application Records inserted
124 Loan Application Records inserted
125 Loan Application Records inserted
126 Loan Application Records inserted
127 Loan Application Records inserted
128 Loan Application Records inserted
129 Loan Application Records inserted
130 Loan Application Records inserted
131 Loan Application Records inserted
132 Loan Application Records inserted
133 Loan Application Records inserted
134 Loan Application Records inserted
135 Loan Application Records inserted
136 Loan Application Records inserted
137 Loan Application Records inserted
138 Loan Application Records inserted
139 Loan Application Records inserted
140 Loan Application Records inserted
141 Loan Application Records inserted
142 Loan Application Records inserted
143 Loan Application Records inserted
144 Loan Application Records inserted
145 Loan Application Records inserted
146 Loan Application Records inserted
147 Loan Application Records inserted
148 Loan Application Records inserted
149 Loan Application Records inserted
150 Loan Application Records inserted
151 Loan Application Records inserted
152 Loan Application Records inserted
153 Loan Application Records inserted
154 Loan Application Records inserted
155 Loan Application Records inserted
156 Loan Application Records inserted
157 Loan Application Records inserted
158 Loan Application Records inserted
159 Loan Application Records inserted
160 Loan Application Records inserted
161 Loan Application Records inserted
162 Loan Application Records inserted
163 Loan Application Records inserted
164 Loan Application Records inserted
165 Loan Application Records inserted
166 Loan Application Records inserted
167 Loan Application Records inserted
168 Loan Application Records inserted
169 Loan Application Records inserted
170 Loan Application Records inserted
171 Loan Application Records inserted
172 Loan Application Records inserted
173 Loan Application Records inserted
174 Loan Application Records inserted
175 Loan Application Records inserted
176 Loan Application Records inserted
177 Loan Application Records inserted
178 Loan Application Records inserted
179 Loan Application Records inserted
180 Loan Application Records inserted
181 Loan Application Records inserted
182 Loan Application Records inserted
183 Loan Application Records inserted
184 Loan Application Records inserted
185 Loan Application Records inserted
186 Loan Application Records inserted
187 Loan Application Records inserted
188 Loan Application Records inserted
189 Loan Application Records inserted
190 Loan Application Records inserted
191 Loan Application Records inserted
192 Loan Application Records inserted
193 Loan Application Records inserted
194 Loan Application Records inserted
195 Loan Application Records inserted
196 Loan Application Records inserted
197 Loan Application Records inserted
198 Loan Application Records inserted
199 Loan Application Records inserted
200 Loan Application Records inserted
201 Loan Application Records inserted
202 Loan Application Records inserted
203 Loan Application Records inserted
204 Loan Application Records inserted
205 Loan Application Records inserted
206 Loan Application Records inserted
207 Loan Application Records inserted
208 Loan Application Records inserted
209 Loan Application Records inserted
210 Loan Application Records inserted
211 Loan Application Records inserted
212 Loan Application Records inserted
213 Loan Application Records inserted
214 Loan Application Records inserted
215 Loan Application Records inserted
216 Loan Application Records inserted
217 Loan Application Records inserted
218 Loan Application Records inserted
219 Loan Application Records inserted
220 Loan Application Records inserted
221 Loan Application Records inserted
222 Loan Application Records inserted
223 Loan Application Records inserted
224 Loan Application Records inserted
225 Loan Application Records inserted
226 Loan Application Records inserted
227 Loan Application Records inserted
228 Loan Application Records inserted
229 Loan Application Records inserted
230 Loan Application Records inserted
231 Loan Application Records inserted
232 Loan Application Records inserted
233 Loan Application Records inserted
234 Loan Application Records inserted
235 Loan Application Records inserted
236 Loan Application Records inserted
237 Loan Application Records inserted
238 Loan Application Records inserted
239 Loan Application Records inserted
240 Loan Application Records inserted
241 Loan Application Records inserted
242 Loan Application Records inserted
243 Loan Application Records inserted
244 Loan Application Records inserted
245 Loan Application Records inserted
246 Loan Application Records inserted
247 Loan Application Records inserted
248 Loan Application Records inserted
249 Loan Application Records inserted
250 Loan Application Records inserted
251 Loan Application Records inserted
252 Loan Application Records inserted
253 Loan Application Records inserted
254 Loan Application Records inserted
255 Loan Application Records inserted
256 Loan Application Records inserted
257 Loan Application Records inserted
258 Loan Application Records inserted
259 Loan Application Records inserted
260 Loan Application Records inserted
261 Loan Application Records inserted
262 Loan Application Records inserted
263 Loan Application Records inserted
264 Loan Application Records inserted
265 Loan Application Records inserted
266 Loan Application Records inserted
267 Loan Application Records inserted
268 Loan Application Records inserted
269 Loan Application Records inserted
270 Loan Application Records inserted
271 Loan Application Records inserted
272 Loan Application Records inserted
273 Loan Application Records inserted
274 Loan Application Records inserted
275 Loan Application Records inserted
276 Loan Application Records inserted
277 Loan Application Records inserted
278 Loan Application Records inserted
279 Loan Application Records inserted
280 Loan Application Records inserted
281 Loan Application Records inserted
282 Loan Application Records inserted
283 Loan Application Records inserted
284 Loan Application Records inserted
285 Loan Application Records inserted
286 Loan Application Records inserted
287 Loan Application Records inserted
288 Loan Application Records inserted
289 Loan Application Records inserted
290 Loan Application Records inserted
291 Loan Application Records inserted
292 Loan Application Records inserted
293 Loan Application Records inserted
294 Loan Application Records inserted
295 Loan Application Records inserted
296 Loan Application Records inserted
297 Loan Application Records inserted
298 Loan Application Records inserted
299 Loan Application Records inserted
300 Loan Application Records inserted
301 Loan Application Records inserted
302 Loan Application Records inserted
303 Loan Application Records inserted
304 Loan Application Records inserted
305 Loan Application Records inserted
306 Loan Application Records inserted
307 Loan Application Records inserted
308 Loan Application Records inserted
309 Loan Application Records inserted
310 Loan Application Records inserted
311 Loan Application Records inserted
312 Loan Application Records inserted
313 Loan Application Records inserted
314 Loan Application Records inserted
315 Loan Application Records inserted
316 Loan Application Records inserted
317 Loan Application Records inserted
318 Loan Application Records inserted
319 Loan Application Records inserted
320 Loan Application Records inserted
321 Loan Application Records inserted
322 Loan Application Records inserted
323 Loan Application Records inserted
324 Loan Application Records inserted
325 Loan Application Records inserted
326 Loan Application Records inserted
327 Loan Application Records inserted
328 Loan Application Records inserted
329 Loan Application Records inserted
330 Loan Application Records inserted
331 Loan Application Records inserted
332 Loan Application Records inserted
333 Loan Application Records inserted
334 Loan Application Records inserted
335 Loan Application Records inserted
336 Loan Application Records inserted
337 Loan Application Records inserted
338 Loan Application Records inserted
339 Loan Application Records inserted
340 Loan Application Records inserted
341 Loan Application Records inserted
342 Loan Application Records inserted
343 Loan Application Records inserted
344 Loan Application Records inserted
345 Loan Application Records inserted
346 Loan Application Records inserted
347 Loan Application Records inserted
348 Loan Application Records inserted
349 Loan Application Records inserted
350 Loan Application Records inserted
351 Loan Application Records inserted
352 Loan Application Records inserted
353 Loan Application Records inserted
354 Loan Application Records inserted
355 Loan Application Records inserted
356 Loan Application Records inserted
357 Loan Application Records inserted
358 Loan Application Records inserted
359 Loan Application Records inserted
360 Loan Application Records inserted
361 Loan Application Records inserted
362 Loan Application Records inserted
363 Loan Application Records inserted
364 Loan Application Records inserted
365 Loan Application Records inserted
366 Loan Application Records inserted
367 Loan Application Records inserted
368 Loan Application Records inserted
369 Loan Application Records inserted
370 Loan Application Records inserted
371 Loan Application Records inserted
372 Loan Application Records inserted
373 Loan Application Records inserted
374 Loan Application Records inserted
375 Loan Application Records inserted
376 Loan Application Records inserted
377 Loan Application Records inserted
378 Loan Application Records inserted
379 Loan Application Records inserted
380 Loan Application Records inserted
381 Loan Application Records inserted
382 Loan Application Records inserted
383 Loan Application Records inserted
384 Loan Application Records inserted
385 Loan Application Records inserted
386 Loan Application Records inserted
387 Loan Application Records inserted
388 Loan Application Records inserted
389 Loan Application Records inserted
390 Loan Application Records inserted
391 Loan Application Records inserted
392 Loan Application Records inserted
393 Loan Application Records inserted
394 Loan Application Records inserted
395 Loan Application Records inserted
396 Loan Application Records inserted
397 Loan Application Records inserted
398 Loan Application Records inserted
399 Loan Application Records inserted
400 Loan Application Records inserted
401 Loan Application Records inserted
402 Loan Application Records inserted
403 Loan Application Records inserted
404 Loan Application Records inserted
405 Loan Application Records inserted
406 Loan Application Records inserted
407 Loan Application Records inserted
408 Loan Application Records inserted
409 Loan Application Records inserted
410 Loan Application Records inserted
411 Loan Application Records inserted
412 Loan Application Records inserted
413 Loan Application Records inserted
414 Loan Application Records inserted
415 Loan Application Records inserted
416 Loan Application Records inserted
417 Loan Application Records inserted
418 Loan Application Records inserted
419 Loan Application Records inserted
420 Loan Application Records inserted
421 Loan Application Records inserted
422 Loan Application Records inserted
423 Loan Application Records inserted
424 Loan Application Records inserted
425 Loan Application Records inserted
426 Loan Application Records inserted
427 Loan Application Records inserted
428 Loan Application Records inserted
429 Loan Application Records inserted
430 Loan Application Records inserted
431 Loan Application Records inserted
432 Loan Application Records inserted
433 Loan Application Records inserted
434 Loan Application Records inserted
435 Loan Application Records inserted
436 Loan Application Records inserted
437 Loan Application Records inserted
438 Loan Application Records inserted
439 Loan Application Records inserted
440 Loan Application Records inserted
441 Loan Application Records inserted
442 Loan Application Records inserted
443 Loan Application Records inserted
444 Loan Application Records inserted
445 Loan Application Records inserted
446 Loan Application Records inserted
447 Loan Application Records inserted
448 Loan Application Records inserted
449 Loan Application Records inserted
450 Loan Application Records inserted
451 Loan Application Records inserted
452 Loan Application Records inserted
453 Loan Application Records inserted
454 Loan Application Records inserted
455 Loan Application Records inserted
456 Loan Application Records inserted
457 Loan Application Records inserted
458 Loan Application Records inserted
459 Loan Application Records inserted
460 Loan Application Records inserted
461 Loan Application Records inserted
462 Loan Application Records inserted
463 Loan Application Records inserted
464 Loan Application Records inserted
465 Loan Application Records inserted
466 Loan Application Records inserted
467 Loan Application Records inserted
468 Loan Application Records inserted
469 Loan Application Records inserted
470 Loan Application Records inserted
471 Loan Application Records inserted
472 Loan Application Records inserted
473 Loan Application Records inserted
474 Loan Application Records inserted
475 Loan Application Records inserted
476 Loan Application Records inserted
477 Loan Application Records inserted
478 Loan Application Records inserted
479 Loan Application Records inserted
480 Loan Application Records inserted
481 Loan Application Records inserted
482 Loan Application Records inserted
483 Loan Application Records inserted
484 Loan Application Records inserted
485 Loan Application Records inserted
486 Loan Application Records inserted
487 Loan Application Records inserted
488 Loan Application Records inserted
489 Loan Application Records inserted
490 Loan Application Records inserted
491 Loan Application Records inserted
492 Loan Application Records inserted
493 Loan Application Records inserted
494 Loan Application Records inserted
495 Loan Application Records inserted
496 Loan Application Records inserted
497 Loan Application Records inserted
498 Loan Application Records inserted
499 Loan Application Records inserted
500 Loan Application Records inserted
501 Loan Application Records inserted
502 Loan Application Records inserted
503 Loan Application Records inserted
504 Loan Application Records inserted
505 Loan Application Records inserted
506 Loan Application Records inserted
507 Loan Application Records inserted
508 Loan Application Records inserted
509 Loan Application Records inserted
510 Loan Application Records inserted
511 Loan Application Records inserted
Loan Application data fulled loaded